.menu_article {
  overflow: auto;
  height: 82.5vh;
  padding: 4rem 0;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--semi-dark_red);
    border-radius: 10px;
    height: 10px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  & h1 {
    font-family: 'bold';
    font-size: 3.6rem;
    background: var(--gradient);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.pizza_container {
  margin-bottom: 2rem;
}
.pizza_container,
.drink_container {
  display: grid;
  place-content: center;
  grid-template-rows: repeat(4, fit-content);
  grid-template-columns: repeat(2, minmax(250px, 500px));
  padding: 2rem 4rem;
  gap: 3rem;
}
.drink_container {
  grid-template-rows: repeat(3, fit-content);
}
.item_card {
  display: flex;
}
.item_card figure {
  display: flex;
  flex-grow: 1;
  backdrop-filter: blur(1px) saturate(0%);
  -webkit-backdrop-filter: blur(1px) saturate(0%);
  background-color: rgba(15, 15, 15, 0.75);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 2rem 3rem;

  & img {
    width: 120px;
    aspect-ratio: 1;
    object-fit: contain;
    margin-right: 3rem;
    filter: drop-shadow(0 0 3px var(--000));
  }

  & figcaption {
    display: grid;
    place-content: center;
    text-align: left;
    text-spacing-trim: 2px;

    & h2 {
      font-family: 'bold';
      font-size: 2.4rem;
      margin-bottom: auto;
      color: var(--000);
    }
    & p {
      max-width: 30ch;
      font-family: 'regular';
      color: var(--200);
      font-size: 1.4rem;
    }
    & :last-child {
      color: var(--dark_red);
      font-family: 'bold';
    }
  }
}
