/* ---- fonts ---- */
@font-face {
  font-family: 'light';
  src: url(assets/fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: 'regular';
  src: url(assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'bold';
  src: url(assets/fonts/Roboto-Bold.ttf);
}
/* ---- colors ---- */
:root {
  --000: #fffde7;
  --100: #fffac0;
  --200: #fff385;
  --300: #ffe43f;
  --400: #ffd00b;
  --500: #f4b600;
  --600: #d38b00;
  --700: #b86b00;
  --800: #8a4c09;
  --900: #753e0e;
  --semi-dark_red: #c50d00;
  --dark_red: #9e0000;
  --dark: #333;
  --semi-dark: #414141;
  --950: #0000003f;
}
/* ---- reset ---- */
*,
*::before,
*::after {
  box-sizing: border-box;
  min-width: 0;
}
* {
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
html {
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  max-width: 75ch;
  text-wrap: pretty;
  overflow-wrap: break-word;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }
}
/* ---- project ---- */
body {
  background: url(assets/img/home_bg.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.site_header {
  height: 17.5vh;
  display: grid;
  font-size: 2rem;
  place-content: center;
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.4);

  & img {
    width: 100px;
    aspect-ratio: 1;
    filter: drop-shadow(0 0 4px var(--dark));
    margin: 0 6rem;
  }

  & nav {
    display: flex;
    width: 100%;

    & ul {
      display: flex;
      align-items: center;
      gap: 4rem;
      list-style-type: none;

      & button {
        color: var(--000);
        font-family: 'bold';
        background-color: transparent;
        cursor: pointer;
        border: none;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 3px;
          background-color: var(--000);
          bottom: 0;
          left: 0;
          transition: width 0.3s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}
#content {
  height: 82.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  text-align: center;
}
img {
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}
